* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 50vh;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.container header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
}
.container main {
  flex: 4;
  border: 1px solid black;
}
.container footer {
  flex: 1;
  display: flex;
  width: 100%;
}
.container footer .board--length, .container footer .board--speed, .container footer .board--time {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

#map {
  min-width: 50vh;
  max-width: 50vh;
  height: 50vh;
  background-color: red;
  border: 3px solid black;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

#snake--head {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("./images/snake-head.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.fruit {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("./images/bug.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.tail {
  width: 80%;
  height: 80%;
  background-color: black;
  justify-self: center;
  align-self: center;
}