* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5% rem;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 50vh;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.container .header {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}
.container .map {
  height: 50%;
}
.container .footer {
  height: 25%;
  width: 100%;
}
.container .footer__board {
  height: 50%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
}
.container .footer__board--length, .container .footer__board--speed, .container .footer__board--time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30%;
  height: 45%;
  border-radius: 30px;
  font-size: 1.2rem;
}
.container .footer__buttons {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .footer__buttons #restart {
  padding: 15px 35px;
}

h1 {
  text-align: center;
}

#map {
  min-width: 50vh;
  max-width: 50vh;
  height: 50vh;
  background-color: #88bd8f;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

#snake--head {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("./images/snake-head.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.fruit {
  width: 70%;
  height: 70%;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  background-image: url("./images/bug.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.tail {
  width: 80%;
  height: 80%;
  background-color: black;
  justify-self: center;
  align-self: center;
}